*{margin: 0; padding: 0; box-sizing: border-box;}
ul{padding: 5px 18px;}
li{list-style: none; padding: 10px 0; border-bottom: 1px solid #ddd;}
button{cursor: pointer; border: none; background: none;}
div.modalbg{position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(255, 255, 255, .6); text-align: center; padding: 5%;}
div.modalbg .modal{background-color: aliceblue; width: 400px; height: 300px; padding: 2%; position: relative; margin: 0 auto; display: block;}
div.modalbg .modal .xbtn1{position: absolute; top: 2%; right: 2%; width: 20px; height: 20px; font-size: 20px; color: #ddd;}
div.modalbg .modal h4{width: 100%; text-align: center; font-size: 2rem; margin-bottom: 2%;}
div.modalbg .modal>span{color: red; font-weight: bold; font-size: 12px;}
div.modalbg .modal p{}
div.modalbg .modal p strong{}
div.modalbg .modal .till-today-wrap{display: flex; position: absolute; bottom: 1%; right: 1%; width: 40%; cursor:pointer;}

/* CHECKBOX: */
label{}
label input{display: none;}
label span:nth-child(2){position: relative; width: 17px; height: 12px; transition: background .1s ease; border-radius: 3px; border: 1px solid #c8ccd4; vertical-align: middle;}
label span:nth-child(2)::after{position: absolute; top: 1px; left: 5px; width: 5px; height: 11px; transform: rotate(-45deg) scale(0); border-bottom: 3px solid black; border-left: 2px solid black; display: inline-block;}
label span:last-child{}